<div *ngIf='form' class="main-div">
  <mat-card class=" center">

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-card-title>
        {{name}}
      </mat-card-title>

      <div *ngFor="let question of questions">
        <mat-card>
          <mat-card-subtitle [attr.for]="question">
            {{question.label}}
          </mat-card-subtitle>

          <div [ngSwitch]="question.type">

            <div *ngSwitchCase="question.type === 'text' || question.type === 'color' ||question.type === 'email'  || question.type === 'tel' || question.type === 'number'? question.type : ''">
              <mat-form-field appearance="legacy">
                <input matInput [required]="question.required" [formControlName]="question.label" [id]="question.label" [type]="question.type">
              </mat-form-field>
            </div>

            <div *ngSwitchCase="'options'" layout-align="start">
              <mat-radio-group [required]="question.required" [formControlName]="question.label" class="radio-group">
                <mat-radio-button *ngFor="let option of question.options" [value]="option.option">
                  {{option.option}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngSwitchCase="'date'">
              <mat-form-field appearance="legacy">
                <input matInput readonly [required]="question.required" [matDatepicker]="picker" placeholder="Choose a date" [name]="question.label"
                  [formControlName]="question.label">

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="error" *ngIf="question.required && !form.get(question.label).touched">
            this field is required
          </div>

          <div class="error" *ngIf="form.get(question.label).invalid && (form.get(question.label).dirty || form.get(question.label).touched)">
            <div *ngIf="form.get(question.label).errors.required">
              {{ question.label }} is required.
            </div>
            <div *ngIf="form.get(question.label).errors.email">
              {{ question.label }} must be written as a proper email.
            </div>
          </div>
        </mat-card>
        <br>
      </div>

      <div *ngIf="submitting1" class="loading-indicator">
        <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
      </div>

      <mat-card-actions align="end">
        <button mat-button (click)="reset()" type="button">Reset Form</button>

      </mat-card-actions>
      <mat-form-field appearance="legacy">
        <input matInput required [formControlName]="'name'" [id]="name" [type]="text" placeholder="Enter your name">
      </mat-form-field>

      <p>
        <button mat-raised-button color="green" type="submit" class="btn btn-success" [disabled]=!form.valid>Send</button>
      </p>

    </form>

  </mat-card>
  <mat-expansion-panel class="json">
    <mat-expansion-panel-header>
      <mat-panel-description>
        Watch the Json file
      </mat-panel-description>
    </mat-expansion-panel-header>
    <pre>{{ form.value | json}}</pre>
  </mat-expansion-panel>
</div>
