.mat-card{
    align-content: center !important;
    align-items: center !important;
    padding-left: 8%;
    padding-right: 8%
}
.center{
    width: 75%;
    margin: 10px auto;
    background-color: #c6dcef;
    text-align: center;
  }
  
  .main-div{
    justify-content: center;
    align-items: center;
  }

  .error{
      color:red;
      font-size: 60%;
  }