<mat-card flex="33">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title strong>About the project</mat-card-title>
    <mat-card-subtitle>
      <strong>Form builder by Amit Turner</strong>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/about_pic.png" alt="Photo of a me">
  <mat-card-content>
    <p>
      In order to build this project I had to learn Angular, node.js and mongo from scrach. I chose to use this stack after reading
      online and deciding I will have the best result considering there are 2 weeks to learn the platform and to make the
      product. Angular and node are well known and there are many examples to learn from, as well as many solutions for various errors and mistakes I encounter as a first project in this stack.
    </p>
    <p>
      I tried to give the user a nice intuative UX while making sure the server actions are clean, fast and as simple as possible. this while maintaining all the database in a single object array and not dividing it to "form data" and "submissions data" even if it might be a bit faster to query.</p>
  </mat-card-content>
  <mat-card-actions>
    <a target="_blank" href="https://www.linkedin.com/in/amit-turner-2700b6133/">
      <button mat-button>LinkedIn</button>
    </a>
  </mat-card-actions>
</mat-card>
