a:link,
a:visited {
  color: white;
}

a:hover,
a:active {
  color: white
}

.mat-toolbar {
  background-color: #428bca;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mat-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
