a:link,a:visited{
    color:#FFFFFF;
    
}

a:hover,a:active{
    color: whitesmoke
}

.mat-toolbar{
    background-color: #428bca;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mat-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}