<mat-toolbar>
  <img src="../../../assets/logo_pic.png">
  <span> Form Builder  </span>
  <a routerLink="/" routerLinkActive="active">
    <button mat-button>
      <mat-icon svgIcon="home"></mat-icon>
      Forms list
    </button>
  </a>

  <a routerLink="create" routerLinkActive="active">
    <button mat-button>
      <mat-icon svgIcon="clipboard-plus"></mat-icon>
      Add new form
    </button>
  </a>

  <a routerLink="about" routerLinkActive="active">
    <button mat-button>
      <mat-icon svgIcon="information"></mat-icon>
      About
    </button>
  </a>

</mat-toolbar>
